<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="section1">
            <div class="row">

                <div class="col-md-6">
                    <form class="searchTab">
                        <label>Location</label>
                        <div class="form-group left-inner-addon right-inner-addon">
                            <i class="glyphicon glyphicon-map-marker left"></i>
                            <a class="glyphicon glyphicon-search right btn btn-primary"></a>
                            <input value="rajkot" id="origin" class="controls location form-control "
                                   type="text" placeholder="Enter a start location">
                        </div>

                        <br>

                        <div class="row">
                            <div id="type-selector" class="controls form-group">
                                <div class="col-sm-3">
                                    <input type="radio" name="type" id="changetype-all" checked="checked">
                                    <label for="changetype-all">All</label>
                                </div>

                                <div class="col-sm-3">
                                    <input type="radio" name="type" id="changetype-establishment">
                                    <label for="changetype-establishment">Establishments</label>
                                </div>

                                <div class="col-sm-3">
                                    <input type="radio" name="type" id="changetype-address">
                                    <label for="changetype-address">Addresses</label>
                                </div>

                                <div class="col-sm-3">
                                    <input type="radio" name="type" id="changetype-geocode">
                                    <label for="changetype-geocode">Geocodes</label>
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>
                        <br>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Booking Date:</label>
                                <div class="left-inner-addon">
                                    <i class="glyphicon glyphicon-calendar left"></i>
                                    <input type="date" class="form-control">
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Booking Time:</label>
                                <div class="left-inner-addon">
                                    <i class="glyphicon glyphicon-time left"></i>
                                    <input type="time" class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Company:</label>
                                <select class="form-control">
                                    <option>Single Line Text</option>
                                    <option>Date</option>
                                    <option>Dropdown</option>
                                    <option>Checkboxes</option>
                                    <option>Radio Buttons</option>
                                    <option>Paragraph Text</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Vehice:</label>
                                <select class="form-control">
                                    <option>Single Line Text</option>
                                    <option>Date</option>
                                    <option>Dropdown</option>
                                    <option>Checkboxes</option>
                                    <option>Radio Buttons</option>
                                    <option>Paragraph Text</option>
                                </select>
                            </div>
                        </div>

                        <br>
                        <br>


                        <div class="form-group">
                            <a href="#" id="search" class="btn btn-primary myButton">Search</a>
                        </div>
                    </form>

                </div>

                <!-- <div class="col-md-6">
                     <div class="sideImg">
                         <img src="images/bck-truck.JPG">
                     </div>
                 </div>-->
            </div>
        </div>
    </div>
</section>