<section class="section section-bg-light section-top-rise">
    <div class="section-inner">

        <div class="container">

            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="#">About</a></li>
                <li role="presentation"><a href="#/contact">Contact</a></li>
            </ul>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                BOOK. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with DESKTOP publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>

        </div>

    </div>
    <footer>
        <p>&copy; 2016 Harshil Vasani</p>
    </footer>
</section>