<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="customerBooking">
            <h1>Bookings</h1>

            <div class="container">
                <div class="row">
                    <hr>
                    <table class="table table-responsive" id="myTable">
                        <thead>
                        <tr>
                            <th>Booking Id</th>
                            <th>Company</th>
                            <th>Branch Id</th>
                            <th>Vehicles</th>
                            <th>Details</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>101</td>
                            <td>Company-1</td>
                            <td>B-01</td>
                            <td>Tractor</td>
                            <td><a href="#" class="btn btn-info">See Details</a></td>
                        </tr>

                        <tr>
                            <td>102</td>
                            <td>Company-1</td>
                            <td>B-03</td>
                            <td>Truck</td>
                            <td><a href="#" class="btn btn-info">See Details</a></td>
                        </tr>
                        <tr>
                            <td>103</td>
                            <td>Company-2</td>
                            <td>B-02</td>
                            <td>Bus</td>
                            <td><a href="#" class="btn btn-info">See Details</a></td>
                        </tr>
                        <tr>
                            <td>104</td>
                            <td>Company-3</td>
                            <td>B-03</td>
                            <td>Truck</td>
                            <td><a href="#" class="btn btn-info">See Details</a></td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</section>