<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Owner's Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../../css/jumbotron.css" rel="stylesheet">

    <!-- Main Stylesheet-->
    <link rel="stylesheet" href="../../css/main.css">

</head>

<body>

<div>

    <!-- BEGIN NAV-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">VehicleBooking.com</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="active">Username</a></li>
                    <li><a href="../Bookings/companyBooking.view.html">Bookings</a></li>
                    <li><a href="../../index.html">Logout</a></li>

                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- END NAV-->

    <!-- BEGIN HEADER-->
    <section id="intro" class="section section-bg-overlay section-bottom-rise">
        <div>
            <div id="customerBooking">
                <h1>Bookings</h1>

                <div class="container">
                    <div class="row">
                        <hr>
                        <table class="table table-responsive" id="myTable">
                            <thead>
                            <tr>
                                <th>Booking Id</th>
                                <th>Company</th>
                                <th>Branch Id</th>
                                <th>Vehicles</th>
                                <th>Details</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>101</td>
                                <td>Company-1</td>
                                <td>B-01</td>
                                <td>Tractor</td>
                                <td><a href="#" class="btn btn-info">See Details</a></td>
                            </tr>

                            <tr>
                                <td>102</td>
                                <td>Company-1</td>
                                <td>B-03</td>
                                <td>Truck</td>
                                <td><a href="#" class="btn btn-info">See Details</a></td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Company-2</td>
                                <td>B-02</td>
                                <td>Bus</td>
                                <td><a href="#" class="btn btn-info">See Details</a></td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Company-3</td>
                                <td>B-03</td>
                                <td>Truck</td>
                                <td><a href="#" class="btn btn-info">See Details</a></td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HEADER-->

    <!-- BEGIN TESTIMONIALS SECTION-->
    <section class="section section-bg-light section-top-rise">
        <div class="section-inner">
            <div class="row">
                <div class="col-md-6">
                    <h1>About us</h1>
                </div>

                <div class="col-md-6">
                    <h1>Contact</h1>
                </div>
            </div>

        </div>
    </section>
    <!-- END TESTIMONIALS SECTION-->
    <footer>
        <p>&copy; 2016 Harshil Vasani</p>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>

