<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="VehicleBookingController">
    <div>
        <div id="vehicleBooking">
            <h1>Booking Information</h1>
            <div class="row">

                <div class="col-md-12">

                    <form class="form-horizontal searchTab">

                        <div class="form-group">
                            <label class="col-sm-2">Start Location</label>
                            <div class="left-inner-addon col-sm-10">
                                <i class="glyphicon glyphicon-map-marker left"></i>
                                <input class="form-control" id="origin"
                                       type="text" placeholder="75 Saint Alphonsus Street"
                                        ng-model="origin" ng-change="autoComplete()">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Destination Location</label>
                            <div class="left-inner-addon col-sm-10">
                                <i class="glyphicon glyphicon-map-marker left"></i>
                                <input class="form-control" id="destination"
                                       type="text" placeholder="45 Brooklyne Street"
                                       ng-model="destination" ng-change="autoComplete"()>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a type="submit" ng-click="addPlace()" class="btn btn-primary myButton">Add Place</a>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

            <div class="table-responsive" ng-show="places.length>0">
                <br>
                <table class="table table-stripped" id="myTable">
                    <thead>
                        <tr>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="place in places">
                            <td>
                                {{place.origin}}
                            </td>
                            <td>
                                {{place.destination}}
                            </td>
                            <td><a type="submit" ng-click="details($index)" class="btn btn-primary myButton">Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <a type="submit" ng-show="show==1" ng-click="show=0;" class="btn btn-danger">Hide Details</a>
            <a type="submit" ng-show="show==0" ng-click="show=1;" class="btn btn-success">Show Details</a>
            <div class="row" ng-show="show==1">
                <div class="col-md-4" id="Mymap"></div>

                <div class="col-md-8 table-responsive" id="details"">
                    <br>
                    <table class="table table-stripped">
                        <tbody>
                        <tr>
                            <td>Origin :</td>
                            <td>{{legs.start_address}} ({{legs.start_location.lat}},{{legs.start_location.lng}})</td>
                        </tr>
                        <tr>
                            <td>Destination :</td>
                            <td>{{legs.end_address}} ({{legs.end_location.lat}},{{legs.end_location.lng}})</td>
                        </tr>
                        <tr>
                            <td>Distance :</td>
                            <td>{{legs.distance.text}}</td>
                        </tr>
                        <tr>
                            <td>Time :</td>
                            <td>{{legs.duration.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>