<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="ManagerEditProfileController as model">
    <div>
        <div id="managerEdit">
            <h1>Edit Profile</h1>
            <div class="row">

                <div class="col-md-12">

                    <form class="form-horizontal searchTab">

                        <div class="form-group">
                            <label class="col-sm-2">Branch Id:</label>
                            <div class="col-sm-10">
                                <p>{{model.manager.branchId}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Company:</label>
                            <div class="col-sm-10">
                                <p>{{model.manager.company}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Manager's Firstname:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.firstName" type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Manager's Lastname:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.lastName" type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="col-sm-2">Image:</label>
                            <div class="col-sm-10">
                                <img class="img-thumbnail img-rounded img-responsive" height="128px" width="128px" src="images/user.png"/>
                                <br>
                                <br>
                                <a type="submit"  class="btn btn-info">Change</a>
                                <a type="submit"  class="btn btn-danger">Remove</a>
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                            <label class="col-sm-2">Manager's Username:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.username" type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Manager's Password:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.password" type="password" class="form-control"  placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Company Address</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.address" type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">City:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.city" type="text" class="form-control" placeholder="City">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">State:</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="model.manager.state">
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">NEWHampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Zip Code:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.zip" type="text" class="form-control" placeholder="02120">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Email Id:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.emailid" type="text" class="form-control" placeholder="abc@gmail.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Contact Number:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.manager.contactnum" type="text" class="form-control" placeholder="584 754 7888">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a type="submit" ng-click="model.update(model.manager)" class="btn btn-primary myButton">Update</a>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>