.container{
    white-space: nowrap;
    width: auto;
    height: auto;
    padding: inherit;
    border-size:1px;
    border-style:solid;
   /* border-radius: 5px;*/
    border-width: thin;
    border-color: #cccccc;
    padding: 10px;
}

.MyGlyph{
    padding-top: 24px;
}

#myTable{
    white-space: nowrap;
}

.myButton{
    width: 100%;
    background-color: #428bca;
    border-color: #555555;
}

.emptySpace{
    padding-left: 45px;
}