<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="custProfile">
            <h1>Profile</h1>

            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <img id="custImg" src="images/user.png"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <blockquote>
                            <h3>anushka</h3>
                        </blockquote>
                        <h4>
                            <i class="glyphicon glyphicon-user"></i> Virat Kohli
                            <br/>
                            <i class="glyphicon glyphicon-home"></i> 75 Saint Alphonsus Street, Starling City, MA ,02120
                            <br/>
                            <i class="glyphicon glyphicon-envelope"></i> virarkohli@cricket.com
                            <br/>
                            <i class="glyphicon glyphicon-earphone"></i> 617 854 2255
                            <br/>
                        </h4>
                    </div>
                </div>


                <br>
                <br>

                <a href="#" class="btn btn-primary myButton"> Edit</a>
            </div>
        </div>
    </div>
</section>