<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="ManagerProfileController">
    <div>
        <div id="managerProfile">
            <h1>Vehicle's CRUD</h1>

            <div class="container">
                <div class="row">
                    <hr>
                    <table class="table table-responsive" id="myTable">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Count</th>
                            <th>Fare ($/hr)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <input ng-model="vehicle.type" class="form-control"
                                           type="text" placeholder="egs: truck">
                                </div>
                            </td>
                            <td>
                                <div  class="form-group ">
                                    <input ng-model="vehicle.count" class="form-control"
                                           type="number" placeholder="egs: 2">
                                </div>
                            </td>
                            <td>
                                <div  class="form-group ">
                                    <input ng-model="vehicle.fare" class="form-control"
                                           type="text" placeholder="egs: 5.00">
                                </div>
                            </td>
                            <td>
                                <a ng-click="addVehicle(vehicle)" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"> </span>
                                </a>
                                <a ng-click="updateVehicle(vehicle)" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </td>
                        </tr>

                        <tr ng-repeat="vehicle in vehicles">
                            <td>{{vehicle.type}}</td>
                            <td>{{vehicle.count}}</td>
                            <td>{{vehicle.fare}}</td>

                            <td>
                                <a ng-click="deleteVehicle($index)" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a ng-click="selectVehicle($index)" ng-model="index" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>
</section>