<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="managerProfile">
            <h1>Profile</h1>

            <div class="container">
                <div class="row">
                    <h2>Manager's Info</h2>
                    <hr>
                    <div class="col-sm-4 col-md-3">
                        <img id="ownerImg" src="images/user.png"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <blockquote>
                            <h3>thea</h3>
                        </blockquote>
                        <h4>
                            <i class="glyphicon glyphicon-user"></i> Thea Queen
                            <br/>
                            <i class="glyphicon glyphicon-home"></i> B-01
                            <br/>
                            <i class="glyphicon glyphicon-briefcase"></i> 75 Saint Alphonsus Street, Starling City, MA
                            <br/>
                            <i class="glyphicon glyphicon-envelope"></i> theaqueen@arrow.com
                            <br/>
                            <i class="glyphicon glyphicon-earphone"></i> 617 854 2255
                            <br/>
                        </h4>
                    </div>

                </div>


                <br>
                <br>

                <a href="#" class="btn btn-primary myButton"> Edit</a>

                <br>
                <br>

                <div class="row">
                    <h2>Vehicle's Info</h2>
                    <hr>
                    <table class="table table-responsive" id="myTable">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Count</th>
                            <th>Fare ($/hr)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <input class="form-control"
                                           type="text" placeholder="egs: truck">
                                </div>
                            </td>
                            <td>
                                <div class="form-group ">
                                    <input class="form-control"
                                           type="text" placeholder="egs: 2">
                                </div>
                            </td>
                            <td>
                                <div class="form-group ">
                                    <input class="form-control"
                                           type="text" placeholder="egs: truck">
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"> </span>
                                </a>
                                <a class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>Truck</td>
                            <td>5</td>
                            <td>5.00</td>

                            <td>
                                <a class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Bus</td>
                            <td>2</td>
                            <td>7.00</td>

                            <td>
                                <a class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Truck</td>
                            <td>5</td>
                            <td>5.00</td>

                            <td>
                                <a class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        </tr>


                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>
</section>