<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Owner's Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="../../css/jumbotron.css" rel="stylesheet">

    <!-- Main Stylesheet-->
    <link rel="stylesheet" href="../../css/main.css">

</head>

<body>

<div>

    <!-- BEGIN NAV-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">VehicleBooking.com</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="active">Username</a></li>
                    <li><a href="../Bookings/companyBooking.view.html">Bookings</a></li>
                    <li><a href="../../index.html">Logout</a></li>

                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- END NAV-->

    <!-- BEGIN HEADER-->
    <section id="intro" class="section section-bg-overlay section-bottom-rise">
        <div>
            <div id="ownerProfile">
                <h1>Profile</h1>

                <div class="container">
                    <div class="row">
                        <h2>Owner's Info</h2>
                        <hr>
                        <div class="col-sm-4 col-md-3">
                            <img id="ownerImg" src="../../images/user.png"
                                 alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <blockquote>
                                <h3>DareDevil</h3>
                            </blockquote>
                            <h4>
                                <i class="glyphicon glyphicon-user"></i> Mathew Murdock
                                <br/>
                                <i class="glyphicon glyphicon-earphone"></i> 123456789
                                <br/>
                                <i class="glyphicon glyphicon-envelope"></i> mattMurdock@daredevil.com
                            </h4>
                        </div>

                    </div>

                    <br>
                    <br>

                    <div class="row">
                        <h2>Company's Info</h2>
                        <hr>
                        <div class="col-sm-4 col-md-3">
                            <img id="company" src="../../images/company.png"
                                 alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <blockquote>
                                <h3>Queen Consolidates</h3> <small id="quote"><cite  title="Source Title">Hell's Kitchen, New York  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                            </blockquote>
                            <h4>
                                <i class="glyphicon glyphicon-briefcase"></i> 221B Baker Street
                                <br/>
                                <i class="glyphicon glyphicon-globe"></i> 02120
                                <br/>

                            </h4>
                        </div>

                    </div>

                    <br>
                    <br>

                    <div class="row">
                        <h2>Branch's Info</h2>
                        <hr>
                        <table class="table table-responsive" id="myTable">
                            <thead>
                                <tr>
                                <th>Branch Id</th>
                                <th>Manager's Firstname</th>
                                <th>Manager's Lastname</th>
                                <th>Manager's Username</th>
                                <th>Manager's Password</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td>B-01</td>
                            <td>Thea</td>
                            <td>Queen</td>
                            <td>thea</td>
                            <td>thea</td>
                            </tr>

                            <tr>
                                <td>B-02</td>
                                <td>Harvy</td>
                                <td>Spectre</td>
                                <td>harvy</td>
                                <td>harvy</td>
                            </tr>
                            <tr>
                                <td>B-03</td>
                                <td>Barry</td>
                                <td>Allen</td>
                                <td>barry</td>
                                <td>barry</td>
                            </tr>
                            </tbody>

                        </table>

                    </div>

                    <br>
                    <br>

                    <a href="#" class="btn btn-primary myButton"> Edit</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END HEADER-->

    <!-- BEGIN TESTIMONIALS SECTION-->
    <section class="section section-bg-light section-top-rise">
        <div class="section-inner">
            <div class="row">
                <div class="col-md-6">
                    <h1>About us</h1>
                </div>

                <div class="col-md-6">
                    <h1>Contact</h1>
                </div>
            </div>

        </div>
    </section>
    <!-- END TESTIMONIALS SECTION-->
    <footer>
        <p>&copy; 2016 Harshil Vasani</p>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>

