<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="ownerProfile">
            <h1>Profile</h1>

            <div class="container">
                <div class="row">
                    <h2>Owner's Info</h2>
                    <hr>
                    <div class="col-sm-4 col-md-3">
                        <img id="ownerImg" src="images/user.png"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <blockquote>
                            <h3>DareDevil</h3>
                        </blockquote>
                        <h4>
                            <i class="glyphicon glyphicon-user"></i> Mathew Murdock
                            <br/>
                            <i class="glyphicon glyphicon-earphone"></i> 123456789
                            <br/>
                            <i class="glyphicon glyphicon-envelope"></i> mattMurdock@daredevil.com
                        </h4>
                    </div>

                </div>

                <br>
                <br>

                <div class="row">
                    <h2>Company's Info</h2>
                    <hr>
                    <div class="col-sm-4 col-md-3">
                        <img id="company" src="images/company.png"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <blockquote>
                            <h3>Queen Consolidates</h3> <small id="quote"><cite  title="Source Title">Hell's Kitchen, New York  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        </blockquote>
                        <h4>
                            <i class="glyphicon glyphicon-briefcase"></i> 221B Baker Street
                            <br/>
                            <i class="glyphicon glyphicon-globe"></i> 02120
                            <br/>

                        </h4>
                    </div>

                </div>

                <br>
                <br>

                <div class="row">
                    <h2>Branch's Info</h2>
                    <hr>
                    <table class="table table-responsive" id="myTable">
                        <thead>
                        <tr>
                            <th>Branch Id</th>
                            <th>Manager's Firstname</th>
                            <th>Manager's Lastname</th>
                            <th>Manager's Username</th>
                            <th>Manager's Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>B-01</td>
                            <td>Thea</td>
                            <td>Queen</td>
                            <td>thea</td>
                            <td>thea</td>
                        </tr>

                        <tr>
                            <td>B-02</td>
                            <td>Harvy</td>
                            <td>Spectre</td>
                            <td>harvy</td>
                            <td>harvy</td>
                        </tr>
                        <tr>
                            <td>B-03</td>
                            <td>Barry</td>
                            <td>Allen</td>
                            <td>barry</td>
                            <td>barry</td>
                        </tr>
                        </tbody>

                    </table>

                </div>

                <br>
                <br>

                <a href="#" class="btn btn-primary myButton"> Edit</a>
            </div>
        </div>
    </div>
</section>