<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="companyInfo">
            <h1>Company Registration</h1>
            <div class="row">

                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified ">
                        <li role="presentation"><a href="#/ownerInfo">Owner Info</a></li>
                        <li role="presentation"><a href="#/companyInfo">Company Info</a></li>
                        <li role="presentation" class="active"><a href="#">Branch Info</a></li>
                    </ul>

                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="branchHead">
                                <h2 class="col-sm-8">Branch-1</h2>
                                <a type="submit"  class="btn btn-danger col-sm-3">Remove</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <form class="form-horizontal searchTab">

                                    <div class="form-group">
                                        <label class="col-sm-2">Branch Id</label>
                                        <div class="col-sm-10">
                                            <input ng-model="branchId" type="text" class="form-control" placeholder="B-01">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2">Manager's Firstname:</label>
                                        <div class="col-sm-10">
                                            <input ng-model="firstName" type="text" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2">Manager's Lastname:</label>
                                        <div class="col-sm-10">
                                            <input ng-model="lastName" type="text" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2">Manager's Username:</label>
                                        <div class="col-sm-10">
                                            <input ng-model="username" type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2">Manager's Password:</label>
                                        <div class="col-sm-10">
                                            <input ng-model="password" type="password" class="form-control"  placeholder="Password">
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a type="submit"  class="btn btn-success col-sm-3">Add New Branch</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <div class="col-sm-12">
                        <a type="submit"  class="btn btn-primary myButton">Register</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>