<div>
    <h1 class="page-header">Forms : Registration Form</h1>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/forms">Forms</a></li>
        <li role="presentation" class="active"><a href=#/fields">Fields</a></li>
    </ul>

    <div class="container">
        <form>
            <div class="row" ng-repeat="field in model.fields">

                <div ng-switch="field.type">

                    <div ng-switch-when="TEXT">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <input type="text"  class="form-control" placeholder={{field.placeholder}}>
                        </div>
                    </div>

                    <div ng-switch-when="EMAIL">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <input type="email"  class="form-control" placeholder={{field.placeholder}}>
                        </div>
                    </div>

                    <div ng-switch-when="TEXTAREA">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <textarea class="form-control" placeholder={{field.placeholder}}></textarea>
                        </div>
                    </div>

                    <div ng-switch-when="DATE">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <div ng-switch-when="OPTIONS">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <select class="form-control">
                                <option ng-repeat="option in field.options" value={{option.value}}>{{option.label}}</option>
                            </select>
                        </div>
                    </div>

                    <div ng-switch-when="CHECKBOXES">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>

                            <div class="checkbox" ng-repeat="option in field.options">
                                <label>
                                    <input type="checkbox" value={{option.value}}> {{option.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="RADIOS">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>

                            <div class="checkbox" ng-repeat="option in field.options">
                                <label>
                                    <input type="radio" value={{option.value}}> {{option.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 col-md-offset-2 col-sm-4 MyGlyph">
                    <a class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"> </span>
                    </a>
                    <a class="btn btn-default">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </div>

                <br>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-4  col-sm-4">
                    <label>Add New Field:</label>
                    <select class="form-control" ng-model="model.fieldType">
                        <option value="TEXT">Single Line Text Field</option>
                        <option value="TEXTAREA">Multiple Line Text Field</option>
                        <option value="DATE">Date Field</option>
                        <option value="OPTIONS">Dropdown Field</option>
                        <option value="CHECKBOXES">Checkboxes Field</option>
                        <option value="RADIOS">Radio Buttons Field</option>
                    </select>
                </div>

                <div class="col-md-4 col-md-offset-2 col-sm-4 MyGlyph">
                    <a class="emptySpace">
                        <span></span>
                    </a>


                    <a class="btn btn-default" ng-click="model.addField(model.fieldType)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>


                </div>
            </div>
        </form>
    </div>


</div>