<div>
    <h1 class="page-header">Forms : {{model.title}}</h1>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/forms">Forms</a></li>
        <li role="presentation" class="active"><a href=#/fields">Fields</a></li>
    </ul>

    <div class="container">
        <form>
            <div div-sortable>
            <div  class="row" ng-repeat="field in model.fields">

                <br>

                <div ng-switch="field.type">

                    <div ng-switch-when="TEXT">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <input type="text"  class="form-control" placeholder={{field.placeholder}}>
                        </div>
                    </div>

                    <div ng-switch-when="EMAIL">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <input type="email"  class="form-control" placeholder={{field.placeholder}}>
                        </div>
                    </div>

                    <div ng-switch-when="TEXTAREA">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <textarea class="form-control" placeholder={{field.placeholder}}></textarea>
                        </div>
                    </div>

                    <div ng-switch-when="DATE">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <div ng-switch-when="OPTIONS">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>
                            <select class="form-control">
                                <option ng-repeat="option in field.options" value={{option.value}}>{{option.label}}</option>
                            </select>
                        </div>
                    </div>

                    <div ng-switch-when="CHECKBOXES">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>

                            <div class="checkbox" ng-repeat="option in field.options">
                                <label>
                                    <input type="checkbox" value={{option.value}}> {{option.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="RADIOS">
                        <div class="col-md-4  col-sm-4">
                            <label>{{field.label}}:</label>

                            <div class="checkbox" ng-repeat="option in field.options">
                                <label>
                                    <input type="radio" value={{option.value}}> {{option.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 col-md-offset-2 col-sm-4 MyGlyph">
                    <a class="btn btn-default"  ng-click="model.selectField(field)" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" ng-click="model.cloneField(field)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a class="btn btn-default" ng-click="model.removeField(field._id)">
                        <span class="glyphicon glyphicon-remove"> </span>
                    </a>
                    <a class="btn btn-default" >
                        <span class="glyphicon glyphicon-align-justify" ></span>
                    </a>
                </div>

            </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-4  col-sm-4">
                    <label>Add New Field:</label>
                    <select class="form-control" ng-model="model.fieldType">
                        <option value="TEXT">Single Line Text Field</option>
                        <option value="TEXTAREA">Multiple Line Text Field</option>
                        <option value="DATE">Date Field</option>
                        <option value="OPTIONS">Dropdown Field</option>
                        <option value="CHECKBOXES">Checkboxes Field</option>
                        <option value="RADIOS">Radio Buttons Field</option>
                    </select>
                </div>

                <div class="col-md-4 col-md-offset-2 col-sm-4 MyGlyph">
                    <a class="emptySpace">
                        <span></span>
                    </a>


                    <a class="btn btn-default" ng-click="model.addField(model.fieldType)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>

                </div>
            </div>
        </form>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{model.updatedField.label}}</h4>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>label</label>
                                <input type="text" class="form-control" ng-model="model.label">
                            </div>

                            <div class="form-group" ng-show="model.updatedField.placeholder">
                                <label>placeholder</label>
                                <input type="text" class="form-control" ng-model="model.placeholder">
                            </div>

                            <div class="form-group" ng-show="model.updatedField.type == 'OPTIONS'
                            || model.updatedField.type == 'CHECKBOXES' || model.updatedField.type == 'RADIOS'">
                                <label>Options</label>
                                <textarea class="form-control" ng-model="model.options"></textarea>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a type="button" ng-click="model.editField()" data-dismiss="modal" class="btn btn-primary">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->


</div>