<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="companyInfoEdit">
            <h1>Edit Profile</h1>
            <div class="row">

                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified ">
                        <li role="presentation"><a href="#/ownerInfoEdit">Owner Info</a></li>
                        <li role="presentation" class="active"><a href="#">Company Info</a></li>
                        <li role="presentation"><a href="#/branchInfoEdit">Branch Info</a></li>
                    </ul>

                    <form class="form-horizontal searchTab">

                        <div class="form-group">
                            <label class="col-sm-2">Company Name:</label>
                            <div class="col-sm-10">
                                <input ng-model="companyName" type="text" class="form-control" placeholder="Company Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Company Logo:</label>
                            <div class="col-sm-10">
                                <img class="img-thumbnail img-rounded img-responsive" height="128px" width="128px" src="images/companyLogo.png"/>
                                <br>
                                <br>
                                <a type="submit"  class="btn btn-info">Browse</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Company Address</label>
                            <div class="col-sm-10">
                                <input ng-model="companyAddr" type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">City:</label>
                            <div class="col-sm-10">
                                <input ng-model="address" type="text" class="form-control" placeholder="City">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">State:</label>
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>CA</option>
                                    <option>MA</option>
                                    <option>NY</option>
                                    <option>NC</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Zip Code:</label>
                            <div class="col-sm-10">
                                <input ng-model="zipCode" type="number" class="form-control" placeholder="02120">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a type="submit"  class="btn btn-primary myButton">Update</a>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>