<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="OwnerInfoEditController as model">
    <div>
        <div id="ownerInfo">
            <h1>Edit Profile</h1>
            <div class="row">

                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified ">
                        <li role="presentation" class="active"><a href="#">Owner Info</a></li>
                        <li role="presentation"><a href="#/companyInfoEdit">Company Info</a></li>
                        <li role="presentation"><a href="#/branchInfoEdit">Branch Info</a></li>
                    </ul>

                    <form class="form-horizontal searchTab">

                        <div class="form-group">
                            <label class="col-sm-2">First Name:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.owner.firstName" type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Last Name:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.owner.lastName" type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="col-sm-2">Image:</label>
                            <div class="col-sm-10">
                                <img class="img-thumbnail img-rounded img-responsive" height="128px" width="128px" src="images/user.png"/>
                                <br>
                                <br>
                                <a type="submit"  class="btn btn-info">Change</a>
                                <a type="submit"  class="btn btn-danger">Remove</a>
                            </div>
                        </div>
-->
                        <div class="form-group">
                            <label class="col-sm-2">Username:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.owner.username" type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Password:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.owner.password" type="password" class="form-control"  placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Co. Number:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.owner.contactnum" type="text" class="form-control" placeholder="6177921855">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Email Id:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.owner.emailid" type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a type="submit" ng-click="model.saveOwner(model.owner)" class="btn btn-primary myButton">save</a>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>