<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="LoginController as model">
    <div>
        <div id="logIn">
            <h1>Log In</h1>
            <div class="row">

                <div class="col-md-12">
                    <form class="searchTab">

                        <label>Username</label>
                        <div class="form-group left-inner-addon">
                            <i class="glyphicon glyphicon-user left"></i>
                            <input class="controls location form-control"
                                   type="text" placeholder="Username"
                                    ng-model="model.username">
                        </div>

                        <label>Password</label>
                        <div class="form-group ">
                            <input class="controls location form-control "
                                   type="password" placeholder="password"
                                    ng-model="model.password">
                        </div>

                        <div class="form-group">
                            <a ng-click="model.login(model.username,model.password)" class="btn btn-primary myButton">log in</a>
                        </div>

                        <br>

                        <div class="form-group">
                            <a href="#/customerRegistration" class="btn btn-success myButton">Register as Customer</a>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>