<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="UserController">
    <div>
        <div id="users">
            <h1>User CRUD</h1>

            <div class="container">
                <div class="row">
                    <hr>
                    <div class="table-responsive">
                        <table class="table" id="myTable">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    <div class="form-group ">
                                        <input ng-model="user.username" class="form-control"
                                               type="text" placeholder="username">
                                    </div>
                                </td>
                                <td>
                                    <div  class="form-group ">
                                        <input ng-model="user.password" class="form-control"
                                               type="text" placeholder="password">
                                    </div>
                                </td>
                                <td>
                                    <div  class="form-group ">
                                        <input ng-model="user.role" class="form-control"
                                               type="text" placeholder="egs: owner">
                                    </div>
                                </td>

                                <td>
                                    <a ng-click="addUser(user)" class="btn btn-success">
                                        <span class="glyphicon glyphicon-plus"> </span>
                                    </a>
                                    <a ng-click="updateUser(user)" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                </td>
                            </tr>

                            <tr ng-repeat="user in users">
                                <td>{{user.username}}</td>
                                <td>{{user.password}}</td>
                                <td>{{user.role}}</td>

                                <td>
                                    <a ng-click="deleteUser($index)" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    <a ng-click="selectUser($index)" ng-model="index" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>