<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="BookingDetailsController as model">
    <div>
    <div id="companyBooking">

        <h1>Booking Details</h1>

        <div class="container">

            <div class="row" id="myNav2">

                <div class="col-md-12 col-sm-12 table-responsive">
                    <table class="table" >
                        <tr>
                            <td><h5>Contact Name:</h5></td>
                            <td><h5>{{model.booking.ContactName}}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Pick Up Address:</h5></td>
                            <td><h5>{{model.booking.originAddr}}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Destination Address:</h5></td>
                            <td><h5>{{model.booking.destAddr}}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Pick Up Day:</h5></td>
                            <td><h5>{{model.booking.day}}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Pick Up Time:</h5></td>
                            <td><h5>{{model.booking.time | date:'shortTime' }}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Charges:</h5></td>
                            <td><h5>{{model.booking.charges}} $</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Company Name:</h5></td>
                            <td><h5>{{model.booking.company}}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Branch ID:</h5></td>
                            <td><h5>{{model.booking.branchId}}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Vehicle:</h5></td>
                            <td><h5>{{model.booking.type}}</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Count:</h5></td>
                            <td><h5>{{model.booking.count}}</h5></td>
                        </tr>
                    </table>

                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-md-12" id="Mymap">

                </div>

        </div>
    </div>

    </div>
    </div>
</section>