<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="branchBooking">
            <h1>Bookings</h1>

            <div class="container">
                <div class="row">
                    <hr>
                    <table class="table table-responsive" id="myTable">
                        <thead>
                        <tr>
                            <th>Booking Id</th>
                            <th>Customer's Username</th>
                            <th>Vehicle</th>
                            <th>Details</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>101</td>
                            <td>sachin</td>
                            <td>Bus</td>
                            <td><a href="#" class="btn btn-info">See Details</a></td>
                        </tr>

                        <tr>
                            <td>102</td>
                            <td>virat</td>
                            <td>tractor</td>
                            <td><a href="#" class="btn btn-info">See Details</a></td>
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>dhoni</td>
                            <td>truck</td>
                            <td><a href="#" class="btn btn-info">See Details</a></td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</section>