<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="CompanyBookingController as model">
    <div>
        <div id="companyBooking">
            <h1>Bookings</h1>

            <div class="container">
                <div class="row">
                    <hr>
                    <div class="table-responsive">
                        <table class="table" id="myTable">
                            <thead>
                            <tr>
                                <th>Customer</th>

                                <th>Branch</th>

                                <th>Vehicle</th>

                                <th></th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="booking in model.bookings">
                                <td>{{booking.custUsername}}</td>
                                <td>{{booking.branchId}}</td>
                                <td>{{booking.type}}</td>

                                <td>
                                    <a ng-click="model.details($index)" class="btn btn-info">
                                        DETAILS
                                    </a>
                                </td>

                            </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>