<section style="min-height:605px;" id="intro" class="section section-bg-overlay " ng-controller="CustomerBookingController as model">
    <div>
        <div id="customerBooking">
            <h1>Bookings</h1>

            <div class="container" ng-show="model.bookings.length >= 0">
                <div class="row">
                    <hr>
                    <div class="table-responsive">
                        <h3 ng-show="model.bookings.length == 0"> No Bookings Found</h3>
                        <table class="table" id="myTable">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Branch Id</th>

                            <th>Vehicle</th>

                            <th>Fare</th>

                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="booking in model.bookings">
                            <td>{{booking.company}}</td>
                            <td>{{booking.branchId}}</td>

                            <td>{{booking.type}}</td>
                            <td>{{booking.charges}}</td>

                            <td>
                                <a ng-click="model.details($index)" class="btn btn-info">
                                    DETAILS
                                </a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>