<section id="intro" class="section section-bg-overlay section-bottom-rise">
    <div>
        <div id="details">
            <div class="row">
                <div class="col-md-6">
                    <h5>Booking {{id}} Detail</h5>
                </div>
                <div class="col-md-6">
                    <h5>{{Username}} Booking</h5>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-md-6">
                    <table class="table" id="myTable">
                        <tr>
                            <td><h5>Contact Name:</h5></td>
                            <td><h5>Bansal Shah</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Pick Up Address:</h5></td>
                            <td><h5>Huntington Ave.</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Destination Address:</h5></td>
                            <td><h5>Roxbury Street</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Contact Number:</h5></td>
                            <td><h5>617 792 2501</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Pick Up Day:</h5></td>
                            <td><h5>02/15/2016</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Pick Up Time:</h5></td>
                            <td><h5>10:00 am</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Charges:</h5></td>
                            <td><h5>100$</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Company Name:</h5></td>
                            <td><h5>Comp-2</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Branch ID:</h5></td>
                            <td><h5>B-3</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Vehicle:</h5></td>
                            <td><h5>Truck</h5></td>
                        </tr>
                        <tr>
                            <td><h5>Count:</h5></td>
                            <td><h5>3</h5></td>
                        </tr>
                    </table>

                </div>

                <div class="col-md-6">
                    <img id="ownerImg" src="images/map.png"
                         alt="" class="img-rounded img-responsive" />
                </div>

            </div>
        </div>
    </div>
</section>