<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="VehicleBookingController as model">
    <div>
        <div id="vehicleBooking">
            <h1>Booking Information</h1>
            <div class="row">

                <div class="col-md-12">

                    <form class="form-horizontal searchTab">

                        <div class="form-group">
                            <label class="col-sm-2">Customer UserName:</label>
                            <div class="col-sm-10">
                                <input readonly value="{{currentUser.username}}" type="text" class="form-control" placeholder="Contact Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Company:</label>
                            <div class="col-sm-10">
                                <input readonly value="{{model.booking.company}}" type="text" class="form-control" placeholder="Contact Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Branch Id:</label>
                            <div class="col-sm-10">
                                <input readonly value="{{model.booking.branchId}}" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Vehicle:</label>
                            <div class="col-sm-10">
                                <input readonly value="{{model.booking.type}}" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Contact Name:</label>
                            <div class="col-sm-10">
                                <input ng-model="model.booking.ContactName" type="text" class="form-control" placeholder="Contact Name">
                            </div>
                        </div>

                        <div ng-show="model.warnO==1" class="alert alert-warning">
                            <a class="close" ng-click="model.warnO=0" aria-label="close">&times;</a>
                            <strong>Warning!</strong><br> <p>Origin can't be empty</p>
                        </div>

                        <div ng-class="{'has-warning' : model.warnO==1}" class="form-group">
                            <label class="col-sm-2">Start Location</label>
                            <div class="left-inner-addon col-sm-10">
                                <i class="glyphicon glyphicon-map-marker left"></i>
                                <input class="form-control" id="origin"
                                       type="text" placeholder="75 Saint Alphonsus Street"
                                        ng-model="model.booking.originAddr" ng-change="model.autoComplete()">
                            </div>
                        </div>

                        <div ng-show="model.warnD==1" class="alert alert-warning">
                            <a class="close" ng-click="model.warnD=0" aria-label="close">&times;</a>
                            <strong>Warning!</strong><br> <p>Dest. can't be empty</p>
                        </div>

                        <div ng-class="{'has-warning' : model.warnD==1}"class="form-group">
                            <label class="col-sm-2">Destination Location</label>
                            <div class="left-inner-addon col-sm-10">
                                <i class="glyphicon glyphicon-map-marker left"></i>
                                <input class="form-control" id="destination"
                                       type="text" placeholder="45 Brooklyne Street"
                                       ng-model="model.booking.destAddr" ng-change="model.autoComplete"()>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Day</label>

                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" id="day" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="model.day" is-open="model.popup1.opened" datepicker-options="model.dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <a type="button" class="btn btn-default" ng-click="model.open1()"><i class="glyphicon glyphicon-calendar"></i></a>
                                    </span>
                                </p>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2">Time</label>
                            <div class="col-sm-10">
                                <uib-timepicker ng-model="model.booking.time" ng-change="model.changed()" hour-step="model.hstep" minute-step="model.mstep" show-meridian="model.ismeridian"></uib-timepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Count</label>
                            <div class="col-sm-10">
                                <input ng-model="model.booking.count" type="number" min="1" max="{{model.maxCount}}" class="form-control" placeholder="5">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a type="submit" ng-click="model.confirmBooking(model.booking)" class="btn btn-primary myButton">Confirm Booking</a>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>
</section>