<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="mainHomeController as model">
            <div id="logIn">
                <div class="row">
                    <h1>Find!! Compare!! Book!! Vehicle</h1>
                    <hr>

                    <div class="col-md-12">
                    <form class="searchTab">

                        <label>Company Location</label>
                        <div class="form-group left-inner-addon right-inner-addon">
                            <i class="glyphicon glyphicon-map-marker left"></i>
                            <a ng-click="model.search(origin)" class="glyphicon glyphicon-search right btn btn-primary"></a>
                            <input ng-model="model.origin" id="origin" class="controls location form-control "
                                   type="text" placeholder="Enter a city in United States"
                                   ng-change="model.autoComplete()">
                        </div>


                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Company:</label>
                                <select class="form-control" ng-model="model.company">
                                    <option>company-1</option>
                                    <option>company-2</option>
                                    <option>None</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Vehice:</label>
                                <select class="form-control" ng-model="model.type">
                                    <option>truck</option>
                                    <option>bus</option>
                                    <option>None</option>
                                </select>
                            </div>
                        </div>

                        <br>
                        <br>


                        <div class="form-group">
                            <a ng-click="model.search(origin)" class="btn btn-primary myButton">Search</a>
                        </div>
                    </form>

                </div>
                <br>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12" id="myTable" ng-show="model.searches.length >= 0">
                        <h3>Search Results</h3>
                        <hr>
                     <div class="table-responsive" >


                       <h5 ng-show="model.searches.length == 0"> No Results Found</h5>
                         <table class="table " >
                             <thead>
                             <tr>
                                 <th>Company</th>
                                 <th>Branch</th>
                                 <th>Vehicle-type</th>
                                 <th>Count</th>
                                 <th>Fare ($/hr)</th>
                                 <th></th>
                             </tr>
                             </thead>
                             <tbody>

                             <tr ng-repeat="search in model.searches">
                                 <td>{{search.company}}</td>
                                 <td>{{search.branchId}}</td>
                                 <td>{{search.type}}</td>
                                 <td>{{search.count}}</td>
                                 <td>{{search.fare}}</td>

                                 <td>
                                     <a ng-click="model.book($index)" class="btn btn-info myButton">
                                         Book Now
                                     </a>
                                 </td>
                             </tr>

                             </tbody>
                         </table>
                     </div>


                 </div>
                </div>
            </div>
</section>