<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="mainHomeController as model">
            <div id="logIn">
                <div class="row">
                    <h1 class="title">Find!! Compare!! Book!!</h1>
                    <hr>

                    <div class="col-md-12">
                    <form class="searchTab">

                        <label>Company Location</label>
                        <div ng-show="model.warn==1" class="alert alert-warning">
                            <a class="close" ng-click="model.warn=0" aria-label="close">&times;</a>
                            <strong>Warning!</strong><br> <p>I/P Format :
                            City, State, Country</p>
                        </div>

                        <div ng-class="{'has-warning' : model.warn==1}"
                                class="form-group left-inner-addon right-inner-addon">
                            <i class="glyphicon glyphicon-map-marker left"></i>
                            <a ng-click="model.search(origin)" class="glyphicon glyphicon-search right btn btn-primary"></a>
                            <input
                                   ng-model="model.origin" id="origin"
                                   class="controls location form-control "
                                   type="text" placeholder="Enter a city in U.S.A."
                                   ng-change="model.autoComplete()">

                        </div>


                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Company:</label>
                                <select class="form-control" ng-model="model.company">
                                    <option ng-repeat="company in model.companys">{{company.companyName}}</option>
                                    <option>None</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Vehice:</label>
                                <select class="form-control" ng-model="model.type">
                                    <option ng-repeat="vehicle in model.vehicles">{{vehicle}}</option>
                                    <option>None</option>
                                </select>
                            </div>
                        </div>

                        <br>
                        <br>


                        <div class="form-group">
                            <a ng-click="model.search(origin)" class="btn btn-primary myButton">Search</a>
                        </div>
                    </form>

                </div>
                </div>

                <div class="row">
                    <br>
                    <div class="col-md-12 col-sm-12" id="myTable" ng-show="model.searches.length >= 0">

                        <h3>Search Results</h3>
                        <hr>
                     <div class="table-responsive" >


                       <h5 ng-show="model.searches.length == 0"> No Results Found</h5>
                         <table class="table " >
                             <thead>
                             <tr>
                                 <th ng-click="model.Sort('company', companyBottom)">
                                     <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="companyBottom == -1"></span>
                                     <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="companyBottom == 1"></span>
                                     Company {{companyBottom}}
                                 </th>
                                 <th ng-click="model.Sort('branchId', branchIdBottom)">
                                     <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="branchIdBottom == -1"></span>
                                     <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="branchIdBottom == 1"></span>
                                     Branch
                                 </th>
                                 <th ng-click="model.Sort('type', typeBottom)">
                                     <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="typeBottom == -1"></span>
                                     <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="typeBottom == 1"></span>
                                     Vehicle-type
                                 </th>

                                 <th ng-click="model.Sort('count', countBottom)">
                                     <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="countBottom == -1"></span>
                                     <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="countBottom == 1"></span>
                                     Count
                                 </th>
                                 <th ng-click="model.Sort('fare', fareBottom)">
                                     <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="fareBottom == -1"></span>
                                     <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="fareBottom == 1"></span>
                                     Fare ($/hr)
                                 </th>
                                 <th></th>
                             </tr>
                             </thead>
                             <tbody>

                             <tr ng-repeat="search in model.searches">
                                 <td >{{search.company}}</td>
                                 <td>{{search.branchId}}</td>
                                 <td>{{search.type}}</td>
                                 <td>{{search.count}}</td>
                                 <td>{{search.fare}}</td>

                                 <td>
                                     <a ng-click="model.book($index)" class="btn btn-info myButton">
                                         Book Now
                                     </a>
                                 </td>
                             </tr>

                             </tbody>
                         </table>
                     </div>


                 </div>
                </div>
            </div>
</section>

<div ng-include="'views/footer/footer.view.html'"></div>