<section id="intro" class="section section-bg-overlay section-bottom-rise" ng-controller="OwnerProfileController as model">
    <div>
        <div id="ownerProfile">
            <h1>Profile</h1>

            <div class="container">
                <div class="row">
                    <h2>Owner's Info</h2>
                    <hr>
                    <div class="col-sm-4 col-md-3">
                        <img id="ownerImg" src="images/user.png"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <blockquote>
                            <h3>{{model.curOwner.username}}</h3>
                        </blockquote>
                        <h4>
                            <i class="glyphicon glyphicon-user"></i> {{model.curOwner.firstName}} {{model.curOwner.lastName}}
                            <br/>
                            <i class="glyphicon glyphicon-home"></i> {{model.curOwner.address}}, {{model.curOwner.city}}, {{model.curCustomer.state}} ,{{curCustomer.zip}}
                            <br/>
                            <i class="glyphicon glyphicon-envelope"></i> {{model.curOwner.emailid}}
                            <br/>
                            <i class="glyphicon glyphicon-earphone"></i> {{model.curOwner.contactnum}}
                            <br/>
                        </h4>
                    </div>

                </div>

                <br>
                <br>

                <div class="row">
                    <h2>Company's Info</h2>
                    <hr>
                    <div class="col-sm-4 col-md-3">
                        <img id="company" src="images/company.png"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <blockquote>
                            <h3>{{model.curCompany.companyName}}</h3> <small id="quote"><cite  title="Source Title">{{model.curCompany.city}}, {{model.curCompany.state}}  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        </blockquote>
                        <h4>
                            <i class="glyphicon glyphicon-briefcase"></i> {{model.curCompany.companyAddr}}
                            <br/>
                            <i class="glyphicon glyphicon-globe"></i> {{model.curCompany.zipCode}}
                            <br/>

                        </h4>
                    </div>

                </div>

                <br>
                <br>

                <div class="row">
                    <h2>Branch's Info</h2>
                    <hr>
                    <table class="table table-responsive" id="myTable">
                        <thead>
                        <tr>
                            <th>Branch Id</th>
                            <th>Manager's Firstname</th>
                            <th>Manager's Lastname</th>
                            <th>Manager's Username</th>
                            <th>Manager's Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="branch in model.curBranches">
                            <td>{{branch.branchId}}</td>
                            <td>{{branch.firstname}}</td>
                            <td>{{branch.lastname}}</td>
                            <td>{{branch.username}}</td>
                            <td>{{branch.passname}}</td>
                        </tr>

                        </tbody>

                    </table>

                </div>

                <br>
                <br>

                <a href="#/ownerEditProfile" class="btn btn-primary myButton"> Edit</a>
            </div>
        </div>
    </div>
</section>